body {
	background: rgba(255,240,240,.5);
}

h1 {
	font-family: helvetica;
	color: rgba(255,100,100,1);
	text-align: center;
}

h2 {
	font-family: helvetica;
	color: rgba(255,200,200,1);
	font-style: italic;
	text-align: center;
}

p {
	font-family: helvetica;
	font-size: 14px;
}

img {
	border-radius: 15px;
	vertical-align: center;
}

button {
	padding: 10px;
	background-color: rgba(255,100,100,1);
}